---
layout: home
---

<section>

	<div class="content-area"><span>
	
		<div class="research">
		
			<h2><span>Research Projects</span></h2>
			
			<div class="proj-row">
				<table>
				{% tablerow proj in site.projects limit:3 %}
					<div class="proj-tile">
						<h3><a href="{{ proj.url }}">{{ proj.title }}</a></h3>
						<img src="{{ proj.picurl }}"></img>
						<p>{{ proj.desc }}</p>
					</div>
				{% endtablerow %}
				</table>
			</div>
			
			<div class="proj-row">
				<table>
				{% tablerow proj in site.projects offset:3 limit:3 %}
					<div class="proj-tile">
						<h3><a href="{{ proj.url }}">{{ proj.title }}</a></h3>
						<img src="{{ proj.picurl }}"></img>
						<p>{{ proj.desc }}</p>
					</div>
				{% endtablerow %}
				</table>
			</div>
			
			<div class="page-link">
				<a href="/research">View All Projects</a>
			</div>
			
		</div>
		
		<div class="posts">
			
			<h2><span>Recent Posts</span></h2>
			
			{% for post in site.posts limit: 3 %}
				<table>
					<tr class="post-row">
						<td class="col1">
							<img src="{{ post.urlthmb }}"></img>
						</td>
						<td class="col2">
							<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
							{{ post.excerpt }}
						</td>
					</tr>
				</table>
			{% endfor %}
			
			<div class="page-link">
				<a href="/blog">View All Posts</a>
			</div>
			
		</div>

		<div class="home-pubs">
			<h2><span>Recent Publications</span></h2>
			<div class="pub-list">
			{% for pub in site.pubs limit: 3%}
				<div class="pub">
				  <p>{{ pub.authors }}. {{ pub.year }}. {{ pub.title }}. {{ pub.journal }} {{ pub.volume }}:{{ pub.pages }}. 
				  <a href="{{ pub.urlp }}">URL</a> | 
				  <a href="{{ pub.pdf }}">PDF</a>
				  </p>
                  <hr>
				</div>
			{% endfor %}
		</div>
		</div>

			<div class="page-link">
				<a href="/publications">View All Publications</a>
			</div>
	
	</span></div>
	
</section>