<header-small>
<div class="small-header">
    
    <nav>
        <a href="/">HOME</a>
        <a href="/blog">BLOG</a>
        <a href="/research">PROJECTS</a>
        <a href="/publications">PUBLICATIONS</a>
        <a href="/about">ABOUT</a>
    </nav>
    
    <h1><span>{{ site.title}}</span></h1>
    
    <div class="profiles">
        <a href= "https://www.youtube.com/channel/UCOSeGDrlScCNgBcN5C8nTEw">
            <img src="https://goo.gl/sFiC6u" alt="YouTube Channel">
        </a>
        <a href= "https://www.researchgate.net/profile/Konrad_Hafen">
            <img src="https://goo.gl/VoyfnJ" alt="ResearchGate Profile">
        </a>
        <a href= "https://scholar.google.com/citations?user=UHgGKHoAAAAJ&hl=en">
            <img src="https://goo.gl/FHexcM" alt="Google Scholar Profile">
        </a>
        <a href= "https://github.com/khafen74">
            <img src="https://goo.gl/2mcl6R" alt="Github Profile">
        </a>
    </div>
    
    
</div>
    
</header-small>