.post-list
	h2
		text-align: left
		
		a
			font-size: 20px
			
	.post-row
		h2
			background-color: $lightbg
			box-shadow: none
		table
			border-spacing: 15px
		td
			padding: 0 15px
		.col1
			width: 20%
		.col2
			width: 80%
		img
			vertical-align: middle
			max-height: 100%
			max-width: 100%
			
.post-meta
	text-align: right
	text-transform: none
	font-size: 12px
	color: $maintext
	
.rss-subscribe
	text-align: right
	span
		background-color: $darkbg
		padding: 0 3px