.post-list
    padding: 0 50px 10px 50px
    h2
        text-align: left
        
        a
            font-size: 20px
            
    .post-line
        background-color: $darkbg
        box-shadow: inset 0 0 10px
        margin: 15px 0px
        .post-row
            h2
                box-shadow: none
            table
                border-spacing: 15px
                table-layout: fixed
            td
                padding: 0 15px
            .col1
                width: 20%
            .col2
                width: 80%
            img
                vertical-align: middle
                max-height: 100%
                max-width: 100%
                width: 100%
                height: auto
            
.post-meta
    text-align: right
    text-transform: none
    font-size: 12px
    color: $maintext
    
.rss-subscribe
    text-align: right
    span
        background-color: $darkbg
        padding: 0 3px
        
.center
    text-align: center
    
.horiz-med
    img
        width: 600px
        height: auto
.blog-video
    text-align: center
    iframe
        width: 700px
        height: 394px
        margin: 0 auto
    p
        color: $link
        font-weight: 600
.blog-slides
    margin-top: 10px
    text-align: center
    iframe
        width: 800px
        height: 600px
        margin: 0 auto
    p
        color: $link
        font-weight: 600