            
.content-area
    max-width: 60%
    padding: 5px 10px
    margin: 0 auto
    background-color: $lightbg
    box-shadow: 0 0 60px 5px rgb(0,0,0)
    
    h1
        font-size: 28px
        text-align: center
    h2
        text-align: left
        margin: 0px -10px 0px -10px
        background: $lightbg
        text-indent: 20px
        
        a
            color: $headertwo
        a:hover
            color: $hover
        
.post-date
    text-align: center
    font-size: 12px
    color: $link
        
.proj-summary
    padding: 15px 0px 10px 0px
    
    p
        padding: 0 5px
    h3
        text-indent: 0px
    
.proj-line
    background-color: $lightbg
    margin: 0px 0px
    
    .proj-row
        text-align: left
        
        table
            border-spacing: 15px
            table-layout: fixed
        td
            padding: 0px 15px
        .col1
            width: 30%
        .col2
            width: 70%
            a
                font-size: 20px

        img
            vertical-align: middle
            max-height: 100%
            max-width: 100%
            width: 100%
            height: auto
            
        .proj-tile
            background-color: $lightbg
            padding: -5px
            height: 100%
            p
                vertical-align: bottom
                    
.page-link
    margin: auto
    text-align: center
    font-size: 16px
    
    a
        color: $darkbg
        font-size: 16px
        font-weight: 700
        
        &:hover
            color: $maintext
            text-decoration: underline
            
    h3
        font-size: 16px
        
.posts
    a
        padding: 0 10px
    p
        padding: 0 10px
    h3
        text-indent: 0px
        background: none
        box-shadow: none
        
    table
        table-layout: fixed
        margin-top: 0px
        margin-bottom: 0px
        h3
            padding: 5px 10px 0px 10px
        p
            padding: 0px 17px 0px 15px
        .col1
            width: 30%
            padding: 0 10px
            img
                height: auto
                max-width: 100%
                width: 100%
            
        .col2
            width: 80%
            background-color: $lightbg
        a
            font-size: 20px

.home-pubs
    .pub-list
        padding: 15px 0px 10px 0px
    .home-pub
        padding: 0 5px
        p
            padding: 0 5px
        h3
            color: $link