.proj-header
	p
		text-align: center
		color: $link
		font-weight: 600
		
.vid-container
	vertical-align: center
	text-align: center
	
	p
		color: $link
		font-weight: 600
		
.img-container
	vertical-align: center
	text-align: center
	
	p
		color: $link
		font-weight: 600