.proj-list
    padding: 0 50px 10px 50px

    .proj-line
        background-color: $lightbg
        margin: 15px 0px
        
        .proj-row
            text-align: left
            
            table
                border-spacing: 15px
                table-layout: fixed
            td
                padding: 0px 15px
            .col1
                width: 20%
            .col2
                width: 80%
            img
                vertical-align: middle
                max-height: 100%
                max-width: 100%
                width: 100%
                height: auto
                
            .proj-tile
                background-color: $lightbg
                padding: 5px
                height: 100%
                p
                    vertical-align: bottom