$accent: rgba(0,0,0,1)
$link: rgba(0, 115, 230, 0.8)
$hover: rgba(0, 115, 230, 1)
$maintext: rbga(0,0,0,0.9)
$darkbg: rgba(70,70,70,1)
$lightbg: rgba(255,255,255,1)
$accentbg: rgba(180,180,180,1)
$headertwo: rgba(102,163,255,0.9)